body{
    background-color: black;
    color: gold;
}
header{
    background: url("astr.jpg") left / auto 350% no-repeat, url("astr.jpg") right / auto 350% no-repeat;
}

.root{
    font-size: larger;
}
img{
    width: 230px;
    height: 220px;
}
