{% extends 'base/base.html' %} 
{% load bootstrap4 %}

{% block title %}
    О сайте
{% endblock title %}


{% block content %}
    <h2>О сайте</h2>
    <p>Сайт для публикации сообщений о самых последних новостях из мира астрономии</p>
    <p>Все права на сайт принадлежат EHGWRabbit</p>
    <p>Права на публикации принадлежат их авторам, если не указано иное</p>
    <p>
        Для того, чтобы полноценно пользоваться сайтом и добавлять любые записи
    </p>
    <p>Вам необходимо зарегистрироваться и активировать свою учетную запись</p>
    <p>Это сделать проще простого - после регистрации достаточно дождаться от сайта письма со ссылкой</p>
    <p>Перейдя по ссылке вы окажетесь полноценным пользователем и сможете не только просматривать
        все новости и записи пользователей но и получите возможность добавлять свои записи и фото
    </p>
    <p>Проект сайта авторский и никакой дополнительной нагрузки не несет в плане фин обеспечения или споров из-за прав</p>
    <p>На сайте не сделано следующее:</p>
    <p>Не добавлен переход с главной страницы новостей к сведениям о новостях</p>
    <p>Для того, чтобы просмотреть дополнительные сведения, необходимо выбрать соответствующую рубрику</p>
    <p>Не сделано возможности сбросить пароль - по ряду технических причин</p>
    <p>Не привязаны уведомления о новых комментариях к новостям</p>
    <p>Функционально все написано - но в этой функции здесь нет необходимости</p>
    <p>Не добавлены некоторые функциональные элементы</p>
    <p>Не включена возможность залива изображений(хотя она есть) - во избежание перегрузки сервера</p>
    <p>Не добавлена аутентификация через соц сети - в случае нужды можно добавить</p>
    <p>Сайт имеет лицензию MIT так что никто не обидется если вы его используете в своих целях</p>
    <p>С уважением EHGWRabbit и приятного пользования моим сайтом)</p>
{% endblock content %}
    
    