{% extends 'base/base.html' %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Изменение новостной записи - Профиль пользователя
{% endblock title %}

{% block content %}
    <h3>Изменение новости</h3>
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    {% bootstrap_form form layout='horizontal' %} 
    {% bootstrap_formset formset layout='horizontal' %} 
    {% buttons submit='Редактировать' %} {% endbuttons %} 
</form>
{% endblock content %}
    